/* Allgemeine Einstellungen */
* {
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0px;
}

button:hover {
  cursor: pointer;
}

/* Kopfzeile */
header {
  background-color: darkblue;
}

header > section {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: max(calc(50% - 720px), 140px);
}

/* Der Inhalt der Webseite */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160px 0px;
  background-color: lightgrey;
}

.photoalbum {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.photoalbum > p {
  font-size: 56px;
  font-family: "Figtree";
  font-weight: 800;
}

.gallery button {
  width: 153px;
  height: 152px;
  padding: 0px;
  background-color: white;
  border: 2px solid darkblue;
  border-radius: 16px;
}

.gallery button:hover {
  border: 2px solid blueviolet;
}

button > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
}

/* Das Dialogfenster */
.dialogfenster {
  padding: 0px;
  width: 700px;
  height: 675px;
  border: none;
  border-radius: 40px;
}

.dialog_gap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.dialog_head {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  margin: 0px 70px;
}

dialog > article > img {
  margin: 0px 70px;
  width: 560px;
}

h2 {
  font-size: 24px;
  font-family: 'Figtree';
  font-weight: 700;
}

.close {
  width: 32px;
  height: 32px;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.cross {
  width: 16px;
  height: 16px;
}

.dialog_foot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.dialog_foot > p {
  font-family: 'Figtree';
  font-weight: 500;
}

.arrow_left, .arrow_right {
  width: 60px;
  height: 60px;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.arrow_l {
  width: 24px;
  height: 20px;
  transform: rotate(180deg);
}

.arrow_r {
  width: 24px;
  height: 20px;
}

/* Fußzeile */
footer {
  background-color: darkblue;
}

footer > article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.developer_akademie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-family: "Figtree";
}
