/* Allgemeine Einstellungen */
* {
    margin: 0px;
    box-sizing: border-box;
}

/* Kopfzeile */
header {
    background-color: darkblue;
}

header > section {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: max(calc(50% - 720px), 140px);
}

/* Der Inhalt der Webseite */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px 0px;
}

.photoalbum {
    gap: 80px;
}

.photoalbum > p {
    font-size: 56px;
    font-family: 'Figtree';
    font-weight: 800;
}

/* Fußzeile */
footer {
    background-color: darkblue;
}

footer > article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.developer_akademie {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-family: 'Figtree';
}